:root {
    --border-radius: .5em;
    --primary-color: #96C291;
    --secondary-color: #FFB7B7;
    --background-color: #f4eeee7c;
    font-family: 'Montserrat', sans-serif;
    --box-card: .5em 1em 1em;
}

body
{
background-image:url("images/landscape.jpeg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.cat-figure {
    display: inline-block; 
    margin: 2em;
    padding-bottom: 1em;
    width: 30%;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    transition: 800ms;
}

.cat-figure:hover {
    background-color: var(--primary-color);
    box-shadow: .5em 1em 1em;
    transform: scale(1.1);
}

.cat-figure img {
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.cat-figure figcaption {
    margin-left: .5em;
    margin-right: .5em;
}
.cat-figure-container {
    border-width: .1em;
    border-color: rgb(161, 161, 161);
    border-style: solid;
    border-radius: var(--border-radius);
    background-color: var(--background-color)
}

 .cat-figure-container a:nth-child(odd) .cat-figure
{
    background-color: rgb(245, 69, 69);
    color: white;
    font-weight: bolder;
}
.cat-figure-container a:nth-child(even) .cat-figure
{
    background-color: green;
}

.navigation-link
{
    color: rgb(245, 245, 245);
    background-color: rgb(128, 85, 21);
    border-radius: .5em;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
}
h1
{
    text-align: center;
    text-shadow: .1em .1em rgb(85, 55, 55);
}